# gradle

*~
.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

pico8-home/log.txt
pico8-home/activity_log.txt
pico8-home/backup/**
